.card {
  width: 200px;
  height: 400px;
  background-image: url('https://image.freepik.com/free-vector/gold-vintage-greeting-card-black-background_1159-6201.jpg');
  padding: 1rem;
  transition: transform 1s ease-in;
}
.card:hover {
  transform: scale(1.05);
}
.card-title,
.card-body {
  color: white;
}
.card-title {
  position: relative;
  width: max-content;
}
.card-title::after {
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: red;
  transform: scaleX(0);
  transition: transform 500ms ease-in;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}
