.title::after {
  background: red;
  content: '';
  height: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transition-property: transform;
  transition-duration: 900ms;
  transition-timing-function: ease;
  transform-origin: center;
  transform: scaleX(0);
}

.card:hover {
  color: blue;
}

.card:hover .title::after {
  transform: scaleX(1);
  background: blue;
}

.card {
  color: red;
  position: relative;
  background: green;
  height: 50px;
  width: 100%;
}
